.authController{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 5%;
    border-radius: 5px;
}

.authContainer > div{
    margin-bottom: 10%;
}

.authContainer > div > .info{
    font-size: 20px;
    font-weight: 300;
    font-family: DM Sans;
}

.authContainer > div > .btn{
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: var(--pri-clr);
    text-decoration: none;
}

.authContainer > div > .btn > .icon{
    width: 70px;
    height: 70px;
    padding: 12px;
    border-radius: 50%;
    border: 10px solid #fff;
    text-align: center;
    background-color: var(--sec-clr);
    z-index: 2;
}

.authContainer > div > .btn > .text{
    width: 140px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Denk One;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 5px 10px;
    background-color: var(--sec-clr);
    color: var(--pri-clr);
    border-radius: 0 20px 20px 0;
    text-align: center;
    position: relative;
    right: 12px;
    z-index: 1;
    border: 3px solid #fff;
    border-left: none;
    transition: 0.3s ease;
}

.authContainer > div > .btn > .text:hover{
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    color: rgb(22, 22, 237);
}

.authContainer > .registerBtn > .btn > .icon{
    background-color: #fff;
    border-color: var(--sec-clr);
}

.authContainer > .registerBtn > .btn > .text{
    background-color: #fff;
    border-color: var(--sec-clr);
}

.authContainer > .separator{
    width: 20%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--sec-clr);
    margin: 20px auto 30px auto;
}