/* styling header container */

.headerContainer{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    color: #fff;
    border-bottom: 1px solid var(--sec-clr);
}

.headerContainer > .hamBarMenu{
    display: none;
}


/* Styling logo */

.headerContainer > .logo > img{
    width: 60px;
    height: auto;
    transition: 0.3s ease;
}

.headerContainer > .logo > img:hover{
    transform: scale(1.2);
}

/* styling naviagatins */

.headerContainer > .navs{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.headerContainer > .navs > li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    font-family: DM Sans;
    cursor: pointer;
    transition: 0.3s ease;
}

.headerContainer > .navs > li > a{
    text-decoration: none;
    color: #fff;
}

.headerContainer > .navs > li > a:hover{
    color: rgb(207, 207, 229);
}


/* Adding line animation to navigation options */

.headerContainer > .navs > li > a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--sec-clr);
    border-radius: 20px;
    margin-top: 5px;
    display: block;
    transition: width 0.3s ease;
}
/* .headerContainer > .navs > li:nth-child(1) > a::after, */
.headerContainer > .navs > li > a:focus::after,
 .headerContainer > .navs > li > a:hover::after{
    width: 30px;
}

/* styling right side auth icon */

.headerContainer > .authIcon > .icon{
    color: #fff;
    width: 40px;
    height: auto;
    cursor: pointer;
    transition: 0.3s ease;
}

.headerContainer > .authIcon > .icon:hover{
    color: var(--sec-clr);
    transform: scale(0.8);
}






/* Adding responsiveness */

@media screen and (min-width: 500px) and (max-width: 1100px) {
    .headerContainer > .navs{
        width: 70%;
    }
    
    .headerContainer > .navs > li{
        font-size: 13px;
        font-weight: 400;
    }
    
}


@media screen and (max-width: 650px) {
    .headerContainer{
        padding: 3%;
    }
    .headerContainer > .hamBarMenu{
        display: inline-block;
        font-size: 45px;
    }
    .headerContainer > .navs{
        position: absolute;
        left: -100%;
        width: 100%;
        height: 70%;
        flex-direction: column;
        top: 10%;
        padding: 5%;
        background-color: var(--pri-clr);
        border: 1px solid var(--sec-clr);
        transition: left 0.5s ease;
    }

    .headerContainer > .openNavs{
        left: 0;
        transition: left 0.5s ease;
    }
    
    .headerContainer > .navs > li{
        font-size: 20px;
        font-weight: 400;
    }
}