.heroContainer{
    color: #fff;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroContainer > div{
    width: 50%;
    height: 100%;
}